@{
    ViewBag.Title = "About";
}
<div class="boxing">
    <div class="card-box">
        <div class="personal-card">
            <div class="imgBx">
                <img src="~/Content/rana.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Rana Fathi<br><span>Creative Designer</span></h2>
            </div>
        </div>

        <div class="personal-card">
            <div class="imgBx">
                <img src="https://images.unsplash.com/photo-1548094878-84ced0f6896d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
            </div>
            <div class="details">
                <h2>Menna Naim<br><span>Video Editor</span></h2>
            </div>
        </div>

        <div class="personal-card">
            <div class="imgBx">
                <img src="https://images.unsplash.com/photo-1548094878-84ced0f6896d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
            </div>
            <div class="details">
                <h2>Ashrakt EL-Ansary<br><span>Osama's Friend</span></h2>
            </div>
        </div>

        <div class="personal-card">
            <div class="imgBx">
                <img src="~/Content/karim.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Karim azhry<br><span>Admin</span></h2>
            </div>
        </div>

    </div>
</div>