@model news.Models.Newsletter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- News Details page need a lot of styling and functionality editing but not necessary nw-->

<h2>@Model.Title</h2>
<p>This is @Model.Description</p>

